/*
Filtros
blur(); para desenfocar
grayscale(); para escala de grises
sepia(); para efecto sepia
brigtness(); para ajustar brillo
constrast(); para ajustar contraste
hue-retare(); incremenrar el valor de los colores cambiandolos
invert(); invierte la imagen
saturate(); ajustar saturacion
opacity(); ajustar capacidad
*/

img{
	width: 300px;
	height: 200px;
}
.imagen1{
	filter: blur(30px;);
}
.imagen2{
	filter: grayscale(100%);
}